#main-container
{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo
{
    display: block;
    margin: 0;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #0197F6;
    margin-bottom: 100px;
}

#icons
{
    margin: 0;
    padding: 0;
}

#icons > li
{
    display: inline-block;
    margin: 0 8px;
}

#footer
{
    position: absolute;
    right: 4px;
    bottom: 8px;
}

#footer > .item
{
    display: inline;
    margin: 0px 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

/* social buttons */
a.social-button.borderless {
    color:#0197F6;
    padding: 8px 8px;
}
a.social-button.borderless.static:hover, .static a.social-button.borderless:hover {
    color: #0197F6;
}
a.social-button.borderless.icon-twitter:hover {
    color:#4183C4;
}
a.social-button.borderless.icon-linkedin:hover {
    color:#4183C4;
}
a.social-button.borderless.icon-github:hover {
    color:#4183C4;
}